{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/header-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am a Registered Nurse, soon to be a Software Engineer and a foodie at heart. I enjoy cooking for friends and family. I love traveling to different places to try different cuisines and learn several cooking techniques and flavors. </p>
          <p>I hope you enjoy the recipes on this website and would love for you to join and share your favorite recipes to the world. </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}