{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('/static/img/header-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Recipe Blog</h1>
                    <span class="subheading">A collection of the best recipes.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for post in all_posts %}
                <div class="post-preview">
                    <a href="{{ url_for('show_post', post_id=post.id) }}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ post.subtitle }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by
                        <a href="#">{{ post.author }}</a>
                        on {{ post.date }}</p>
                </div>
                <hr>
            {% endfor %}


            <!-- New Post -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href={{ url_for("new_post") }}>Create New Post</a>
            </div>

            <div class="box">
                {% if not current_user.is_authenticated %}
                    <a href="{{ url_for('login') }}" class="btn btn-primary btn-block btn-large">Login</a>
                    <a href="{{ url_for('register') }}" class="btn btn-secondary btn-block btn-large">Register</a>
                {% endif %}
            </div>

        </div>
    </div>
</div>
<hr>

{% include "footer.html" %}