{% include "header.html" %}

 <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/header-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Login Now</h1>
            <span class="subheading">Craving for something? We have it.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>What's cookin' good-lookin'?</p>
        <form action="{{ url_for('login') }}" method="post" name="sentMessage" id="contactForm" novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Email Address</label>
              <input type="email" class="form-control" placeholder="Email Address" name="email" id="email" required data-validation-required-message="Please enter your email address.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Password</label>
              <input type="tel" class="form-control" placeholder="Password" name="password" id="password" required data-validation-required-message="Please enter your password.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Let me in</button>
        </form>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}

{#    <form action="{{ url_for('login') }}" method="post">#}
{#        <input type="text" name="email" placeholder="Email" required="required"/>#}
{#        <input type="password" name="password" placeholder="Password" required="required"/>#}
{#    </form>#}

